include README.md
include README_API.md
include LICENSE
include pyproject.toml

recursive-include src *.py
recursive-include tests *.py
recursive-include examples *.py
recursive-include prototypes *.py

prune .pytest_cache
prune build
prune dist
prune *.egg-info
prune examples/realdata_*
prune __pycache__
recursive-exclude * __pycache__
recursive-exclude * *.egg-info

global-exclude .DS_Store
global-exclude *.py[cod]
global-exclude *.mrc
global-exclude *.mrcs
global-exclude *.npy
global-exclude *.npz
global-exclude *.csv
global-exclude *.png
